@import "tailwindcss";
@utility row{
    @apply flex  items-center ; 
}

@theme{
    --font-Heading:"IBM Plex Sans Arabic";
    --font-paragraph:"Libre Baskerville";
    --font-logo:"Literata";
    --color-nav:#414845;
    --color-underline:#755B00;
    --color-texts:#07271F;
}
@layer base{
    a{
        @apply transition-all duration-300 inline-block hover:scale-120 hover:text-amber-900
    }
    
}

@layer components{
    .title{
    @apply  md:text-[16px] text-[24px] leading-6 text-[#1A1C1B] mt-4  ;
  }
}